<h1><%= @article.title %>
  <small>
    <%= link_to edit_article_path do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  </small>
  <small>
    <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
  </small>
</h1>

<%= @article.content %>
<h2><%= @article.paragraph %></h2>
<%= @article.details %>
