<h1><%= @article.title %> <%= link_to 'Edit article', edit_article_path %>
<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></h1>

<%= @article.content %>
<h2><%= @article.paragraph %></h2>
<%= @article.details %>
